.discounts__container{
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: .75rem;
  }
  
  .discounts__data{
    text-align: center;
  }
  
  .discounts__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
  }
  
  .discounts__img{
    width: 200px;
    justify-self: center;
  }
